<!-- start header section -->
<header>

    <div id="top-bar" class="top-bar-style2">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-xs-12">
                    <div class="top-bar-info">
                        <!--<ul>
                            <li><i class="fas fa-mobile-alt"></i>(+123) 456 7890</li>
                            <li><i class="fas fa-envelope"></i>addyour@emailhere</li>
                        </ul>-->
                    </div>
                </div>
                <div class="col-xs-12 col-md-3 xs-display-none">
                    <ul class="top-social-icon">
                        <li><a href="https://github.com/Zurich-Blockchain-RnD"><i class="fab fa-github"></i></a></li>
                        <li><a href="https://t.me/joinchat/HZoyO0ZIiMTKmZh5xV0fK..."><i class="fab fa-telegram"></i></a></li>
                        <li><a href="https://www.meetup.com/it-IT/zurichblockchainrnd/"><i class="fab fa-meetup"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fab fa-trello"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar-default">

        <!-- Start Top Search -->
        <div class="top-search bg-black">
            <div class="container">
                <form class="search-form" action="search.html" method="GET" accept-charset="utf-8">
                    <div class="input-group">
                        <span class="input-group-addon cursor-pointer">
                            <button class="search-form_submit fas fa-search font-size18 text-white" type="submit"></button>
                        </span>
                        <input type="text" class="search-form_input form-control" name="s" autocomplete="off" placeholder="Type & hit enter...">
                        <span class="input-group-addon close-search"><i class="fas fa-times font-size18 line-height-28 margin-5px-top"></i></span>
                    </div>
                </form>
            </div>
        </div>
        <!-- End Top Search -->
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-12">
                    <div class="menu_area alt-font">
                        <nav class="navbar navbar-expand-lg navbar-light no-padding">

                            <div class="navbar-header navbar-header-custom">
                                <!-- Start Logo -->
                                <a href="index.html" class="navbar-brand logo4"><img id="logo" src="{{ base.html }}/assets/img/logos/logo-4.png" alt="logo"></a>
                                <!-- End Logo -->
                            </div>

                            <div class="navbar-toggler"></div>

                            <!-- Menu Area -->
                            <ul class="navbar-nav ml-auto" id="nav" style="display: none;">

                                <li><a href="{{ base.html }}/index.html">Home</a></li>
                                <li><a href="{{ base.html }}/about.html">About Us</a></li>
                                <li><a href="{{ base.html }}/getStarted.html">Get Started</a>
                                    <ul>
                                      {% for post in site.categories.getStarted %}
                                          <li><a href="{{ post.url }}">{{ post.title}}</a>
                                          </li>
                                      {% endfor %}
                                    </ul>
                                </li>
                                <li><a href="{{ base.html }}/projects.html">Projects</a>
                                    <ul>
                                      {% for post in site.categories.projects %}
                                          <li><a href="{{ post.url }}">{{ post.title}}</a>
                                          </li>
                                      {% endfor %}
                                    </ul>
                                </li>
                            </ul>

                            <!-- End Menu Area -->

                            <!-- Start Atribute Navigation -->
                            <!--<div class="attr-nav sm-no-margin sm-margin-70px-right xs-margin-65px-right">
                                <ul>
                                    <li class="search"><a href="javascript:void(0)"><i class="fas fa-search"></i></a></li>
                                </ul>
                            </div>-->
                            <!-- End Atribute Navigation -->

                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
<!-- end header section -->
