<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134843978-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-134843978-1');
</script>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="ChitrakootWeb" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="HTML5 Template Fabrex" />
    <meta name="description" content="Fabrex - Business Multipurpose and Corporate Template" />

    <!-- title  -->
    <title>{{ page.title }} | {{ site.title }}</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="{{ base.html }}/assets/img/logos/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="theme-color" content="#ffffff">

    <!-- plugins -->
    <link rel="stylesheet" href="{{ base.html }}/assets/css/plugins.css" />

    <!-- revolution slider css -->
    <link rel="stylesheet" href="{{ base.html }}/assets/css/rev_slider/settings.css">
    <link rel="stylesheet" href="{{ base.html }}/assets/css/rev_slider/layers.css">
    <link rel="stylesheet" href="{{ base.html }}/assets/css/rev_slider/navigation.css">

    <!-- search css -->
    <link rel="stylesheet" href="{{ base.html }}/assets/search/search.css" />

    <!-- kramdown highlight with rouge (github style) -->
    <link rel="stylesheet" href="{{ base.html }}/assets/css/syntax.css" />

    <!-- custom css -->
    <link href="{{ base.html }}/assets/css/styles-4.css" rel="stylesheet" id="colors">
    <link href="{{ base.html }}/assets/css/styles-3.css" rel="stylesheet" id="colors">

</head>

<body>

    <!-- start page loading -->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- end page loading -->
