<!-- start scroll to top -->
<a href="javascript:void(0)" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
<!-- end scroll to top -->

<!-- all js include start -->

<!-- jQuery -->
<script src="{{ base.html }}/assets/js/jquery.min.js"></script>

<!-- modernizr js -->
<script src="{{ base.html }}/assets/js/modernizr.js"></script>

<!-- bootstrap -->
<script src="{{ base.html }}/assets/js/bootstrap.min.js"></script>

<!-- navigation -->
<script src="{{ base.html }}/assets/js/nav-menu.js"></script>

<!-- serch -->
<script src="{{ base.html }}/assets/search/search.js"></script>

<!-- owl carousel -->
<script src="{{ base.html }}/assets/js/owl.carousel.js"></script>

<!-- jquery.counterup.min -->
<script src="{{ base.html }}/assets/js/jquery.counterup.min.js"></script>

<!-- stellar js -->
<script src="{{ base.html }}/assets/js/jquery.stellar.min.js"></script>

<!-- waypoints js -->
<script src="{{ base.html }}/assets/js/waypoints.min.js"></script>

<!-- tab js -->
<script src="{{ base.html }}/assets/js/tabs.min.js"></script>

<!-- jquery.magnific-popup js -->
<script src="{{ base.html }}/assets/js/jquery.magnific-popup.min.js"></script>

<!-- isotope.pkgd.min js -->
<script src="{{ base.html }}/assets/js/isotope.pkgd.min.js"></script>

<!-- revolution slider js files start -->
<script src="{{ base.html }}/assets/js/rev_slider/jquery.themepunch.tools.min.js"></script>
<script src="{{ base.html }}/assets/js/rev_slider/jquery.themepunch.revolution.min.js"></script>
<script src="{{ base.html }}/assets/js/rev_slider/extensions/revolution.extension.actions.min.js"></script>
<script src="{{ base.html }}/assets/js/rev_slider/extensions/revolution.extension.carousel.min.js"></script>
<script src="{{ base.html }}/assets/js/rev_slider/extensions/revolution.extension.kenburn.min.js"></script>
<script src="{{ base.html }}/assets/js/rev_slider/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="{{ base.html }}/assets/js/rev_slider/extensions/revolution.extension.migration.min.js"></script>
<script src="{{ base.html }}/assets/js/rev_slider/extensions/revolution.extension.navigation.min.js"></script>
<script src="{{ base.html }}/assets/js/rev_slider/extensions/revolution.extension.parallax.min.js"></script>
<script src="{{ base.html }}/assets/js/rev_slider/extensions/revolution.extension.slideanims.min.js"></script>
<script src="{{ base.html }}/assets/js/rev_slider/extensions/revolution.extension.video.min.js"></script>
<!-- revolution slider js files end -->

<!-- map js -->
<script src="{{ base.html }}/assets/js/map.js"></script>

<!-- custom scripts -->
<script src="{{ base.html }}/assets/js/main.js"></script>

<!-- contact form scripts -->
<script src="{{ base.html }}/assets/js/mailform/jquery.form.min.js"></script>
<script src="{{ base.html }}/assets/js/mailform/jquery.rd-mailform.min.c.js"></script>

<!-- all js include end -->

</body>

</html>
